@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(15px); } }
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(15px); } }
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0;
  color: #5e7e76; }

h1 {
  color: #000;
  font-family: 'Playfair Display', serif;
  font-size: 50pt;
  margin-top: 40px; }

h2 {
  color: #43484d;
  font-family: 'Playfair Display', serif;
  font-size: 36pt; }

p {
  font-size: 12pt;
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;}
.bg-cover{
  background-color: rgba(0,0,0,0.6);
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #495251!important;
}

#top{
  position: absolute;
  height: 100%;
  width: 100%;

}

#banner {
  height: 100vh;
  position: relative;
  display: table;
  width: 100%; }

#banner p {
  color: #000; 
  }

#navbar {width: 90%;}
#navbar .nav {
  font-family: 'Roboto', sans-serif;}
.navbar-default {position: absolute;width: 100%;}
.navbar-default .navbar-nav > li > a {
  color: #000 !important;
  font-weight: bold;
  text-transform: uppercase; }

.navbar-default .navbar-toggle {
  background-color: #fff !important; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    text-align: right; } }
@media (min-width: 768px) {
  .navbar-header {
    float: left;
    display: none; }
    .navbar-nav{
      float:right!important;
    }

    .navbar-nav>li {
    float: left;
    padding: 45px 35px;
}

  .navbar-nav > li > a:first-of-type {
    padding-left: 0px !important; } }
.navbar-default .navbar-toggle .icon-bar {
  background-color: #7bc7be; }

@media (min-width: 768px) {
  .container > .navbar-collapse {
    margin-left: 0 !important;
    margin-right: 0 !important; } }
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important; }

a {
  color: #5e7e76; }

.mb0 {
  margin-bottom: 0px; }

.graybg {
  background-color: #f7f7f9; }

.wasaga-bg {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/wasaga-bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  /* custom background-position */
  background-position: right center;
  /* ie8- graceful degradation */ }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 36px !important; }

  h2 {
    font-size: 32px !important; } 
  #banner {
    background-position: -200px; background:rgba(255,255,255,0.5);}

  .bannercontent {
    margin-top: 20px !important; 
    width: 100%!important;}

    .bannercontent h1 {
    text-align: right;
}

  .wasaga-bg {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/wasaga-bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    /* custom background-position */
    background-position: right center; } }

    @media screen and (max-width: 414px) {
      .arrowdown {
    margin-top: 37%!important;
}
    }
@media screen and (max-width: 768px) {
  .fullheight {
    height: auto !important; }
#hidelogo{display: none;}
.bg-cover{
  background-color: rgba(255,255,255,0.15);
  display: block;

  width: 100vw;
  height: 100vh;
  position: absolute;
}

.cb-slideshow li span {
    background-position: 15% 50%!important;}

  #mobile-logo{
    margin-top: -160px;
  }
.arrowdown {
    margin-top: 15%!important;
}
.text-center{
  margin-top: 150px;
  margin-left: 15px;
}

#banner p{
  text-align: left;
}

#banner h1{
  text-align: left;
  margin-top: 140px;
  font-size: 26px!important;
}

  .pl0-mobile {
    padding-left: 0 !important; }

  .shadowborder {
    padding: 0 15px; }

  .mb15 {
    margin-bottom: 15px; } }
.btn-primary {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #7bc7be;
  color: #fff;
  border: 2px solid #7bc7be;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  text-transform: uppercase; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #fff;
  color: #7bc7be;
  border: 2px solid #7bc7be; }

  .btn-primary-blue {
    margin-left: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #00BCD4;
  color: #fff;
  border: 2px solid #00BCD4;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  text-transform: uppercase; }

.btn-primary-blue:hover, .btn-primary-blue:focus, .btn-primary-blue:active {
  background-color: #fff;
  color: #00BCD4;
  border: 2px solid #00BCD4; }

section {
  margin-bottom: 60px; }

.p50 {
  padding: 50px; }

#contact, #wasaga {
  height: 500px; }

.shadowborder {
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  height: 500px; }

.pr0 {
  padding-right: 0px; }

.pl0 {
  padding-left: 0px; }

.border {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px; }

.arrowdown {
  margin-top: 20px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  -moz-animation: bounce 1s infinite alternate;
  -ms-animation: bounce 1s infinite alternate;
  -o-animation: bounce 1s infinite alternate;
  cursor: pointer; }

.arrowdown-big {
  position: absolute;
  left: 50%;
  bottom: 10%;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  -moz-animation: bounce 1s infinite alternate;
  -ms-animation: bounce 1s infinite alternate;
  -o-animation: bounce 1s infinite alternate;
  cursor: pointer; }

.bannercontent {
  display: none;
width:90%;}

  .bannercontent h1{
  text-align: right;}

.fullheight {
  height: 100%; }

@media screen and (max-width: 992px){
  .arrowdown-big{
    display: none;
  } 
}

@media screen and (max-width: 320px) {
  #banner {
    background-position: -150px !important; } }
@media screen and (min-width: 321px) and (max-width: 750px) {
  #banner {
    background-position: -162px !important; } }
@media screen and (min-width: 751px) and (max-width: 1024px) {
  #banner {
    background-position: -300px !important; } }
@media screen and (max-width: 749px) {
  .visible-large {
    display: none !important; } }
@media screen and (min-width: 750px) {
  .visible-large {
    display: block !important; } }
@media screen and (min-width: 768px) and (max-width: 750px) {
  .visible-large {
    display: block; } }
@media screen and (min-width: 751px) {
  .hidden-desktop {
    display: none !important; } }

@media screen and (width:320px){
  #banner h1 {
    margin-top: 122px;
    text-align: left;
    font-size: 23px!important;
  }
  #banner p {
    text-align: left;
    font-size: 10pt;
  }
  .arrowdown {
    margin-top: 14%!important;
  }

  #mobile-logo{
    margin-top: -163px;
  }
}
