@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(15px); } }
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(15px); } }
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0;
  color: #5e7e76; }

h1 {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 50pt;
  margin-top: 40px; }

h2 {
  color: #43484d;
  font-family: 'Playfair Display', serif;
  font-size: 36pt; }

p {
  font-size: 12pt;
  margin: 20px 0;
  font-family: 'Roboto', sans-serif; }

#banner {
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  /* custom background-position */
  background-position: 50% 50%;
  /* ie8- graceful degradation */
  background-position: 50% 50% \9  !important;
  display: table;
  width: 100%; }
  #banner p {
    color: #fff; }

#navbar .nav {
  font-family: 'Roboto', sans-serif; }

.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase; }

.navbar-default .navbar-toggle {
  background-color: #fff !important; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    text-align: right; } }
@media (min-width: 768px) {
  .navbar-header {
    float: left;
    display: none; }

  .navbar-nav > li > a:first-of-type {
    padding-left: 0px !important; } }
.navbar-default .navbar-toggle .icon-bar {
  background-color: #7bc7be; }

@media (min-width: 768px) {
  .container > .navbar-collapse {
    margin-left: 0 !important;
    margin-right: 0 !important; } }
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important; }

a {
  color: #5e7e76; }

.mb0 {
  margin-bottom: 0px; }

.graybg {
  background-color: #f7f7f9; }

.wasaga-bg {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/wasaga-bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  /* custom background-position */
  background-position: right center;
  /* ie8- graceful degradation */ }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 36px !important; }

  h2 {
    font-size: 32px !important; } }
@media screen and (max-width: 480px) {
  #banner {
    background-position: -200px; }

  .bannercontent {
    margin-top: 20px !important; }

  .wasaga-bg {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/wasaga-bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    /* custom background-position */
    background-position: right center; } }
@media screen and (max-width: 768px) {
  .fullheight {
    height: auto !important; }

  .pl0-mobile {
    padding-left: 0 !important; }

  .shadowborder {
    padding: 0 15px; }

  .mb15 {
    margin-bottom: 15px; } }
.btn-primary {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #7bc7be;
  color: #fff;
  border: 2px solid #7bc7be;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  text-transform: uppercase; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #fff;
  color: #7bc7be;
  border: 2px solid #7bc7be; }

section {
  margin-bottom: 60px; }

.p50 {
  padding: 50px; }

#contact, #wasaga {
  height: 500px; }

.shadowborder {
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  height: 500px; }

.pr0 {
  padding-right: 0px; }

.pl0 {
  padding-left: 0px; }

.border {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px; }

.arrowdown {
  margin-top: 20px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  -moz-animation: bounce 1s infinite alternate;
  -ms-animation: bounce 1s infinite alternate;
  -o-animation: bounce 1s infinite alternate;
  cursor: pointer; }

.bannercontent {
  display: none; }

.fullheight {
  height: 100%; }

@media screen and (max-width: 320px) {
  #banner {
    background-position: -150px !important; } }
@media screen and (min-width: 321px) and (max-width: 750px) {
  #banner {
    background-position: -250px !important; } }
@media screen and (min-width: 751px) and (max-width: 1024px) {
  #banner {
    background-position: -300px !important; } }
@media screen and (max-width: 749px) {
  .visible-large {
    display: none !important; } }
@media screen and (min-width: 750px) {
  .visible-large {
    display: block !important; } }
@media screen and (min-width: 768px) and (max-width: 750px) {
  .visible-large {
    display: block; } }
@media screen and (min-width: 751px) {
  .hidden-desktop {
    display: none !important; } }

/*# sourceMappingURL=main.css.map */
