@font-face {
    font-family: copper;
    src: url('../fonts/Copperplate.ttc');
}
@font-face {
    font-family: copperlight;
    src: url('../fonts/Copperplate-Gothic-Light-Regular.ttf');
}
@font-face {
    font-family: raleway-thin;
    src: url('../fonts/raleway.thin.ttf');
}

@font-face {
    font-family: lato-light;
    src: url('../fonts/Lato-Light.ttf');
}
body{
    margin: 0;
    height: 100%;
    transition: all 2s;
}

.child {
  padding: 50px;
  position: absolute;
  top: 50%;
  margin-top: 8%;
}

.leftboard {
    background-color: #000000;
    height: 100vh;
    width: 90%;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 5%;
    margin: auto;
}

.nav {
    padding-left: auto!important;
}

.navbar{
        position: relative!important;
    margin-left: auto;
    margin-right: auto;
}
.navbar-inverse {
    background-color: #222;
    border-color: transparent!important;
}
.mapwrapper{
     padding-right: 0px;
}
.mapcontentwrapper{
    color: #fff; padding-left: 0px; display: table;
}
.mapcontentinner{
    background-color: #3b3b3c; height: 170px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 13px;font-family: copperlight;
}
@media screen and (min-width: 1200px) and (max-width: 1344px ){
    .mapcontentwrapper, .mapwrapper{
        width: 100%;
        padding:0 15px !important;
    }   
}
@media screen and (max-width: 1024px){
    .btn-blue{
        margin-bottom: 15px !important;
        padding: 0px !important
    }
   .btn-blue, .regOpen{
    display: block;
    width: 100% !important;
} 
.mapwrapper{
     padding-right: 15px !important;
}
.mapcontentwrapper{
    padding-left: 15px !important;
    display: block !important;
}
.mapcontentinner{
    display: block !important;
}
}
.btn-blue{
    margin: 0!important;
    height: auto !important;
    width: 170px !important;
}
.btn-blue:hover{
    height: auto !important;
}
/**.btn-blue:first-of-type{
    float: left;
}
.btn-blue:last-of-type{
    float: right;
}**/

.panel {
    width: 38%;
    margin-bottom: 0;
    border: 0px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

@media screen and (max-width:768px) {
    #myCarousel {
        width: 100% !important;
    }
    .leftboard {
        padding: 10%;
        background-color: #000000;
        /*height: 100%;*/
    }
    .panel {
        width: 100%;
    }
    .leftboard>h2 {
        font-family: copper;
        color: #ffffff;
        font-size: 25px;
        text-align: center;
        margin-top: 4%;
        line-height: normal;
        margin-bottom: 0px;
    }
    .leftboard>h3 {
        font-family: "Copperplate Gothic Light";
        color: #ffffff;
        font-size: 16px;
        font-weight: lighter;
        text-align: center;
        word-spacing: 5px;
        line-height: 23px;
        margin-top: 0px;
    }
    
    .leftboard>img{
        width:200px;
    }
}

.leftboard>h1 {
    font-family: copper;
    color: #ffffff;
    font-size: 53px;
    text-align: center;
    margin-top: 20px;
}

.leftboard>h2 {
    font-family: copper;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-top: 4%;
    line-height: normal;
    margin-bottom: 0px;
}

.leftboard>h3 {
    font-family: "Copperplate Gothic Light";
    color: #ffffff;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    word-spacing: 5px;
    line-height: 27px;
    margin-top: 0px;
}

.leftboard>p {
    font-family: raleway-thin;
    color: #ffffff;
font-size: 14px;
    line-height: 27px;
    text-align: center;
    padding-bottom: 0px;
}

.leftboard a {
    font-family: copper;
    color: #ffffff;
    font-size: 20px;
    line-height: 32px;
    font-weight: lighter;
}
.leftboard a.tel {
    font-family: "Copperplate Gothic Light";
    color: #ffffff;
    font-size: 27px;
    font-weight: lighter;
    text-align: center;
    word-spacing: 5px;
    line-height: 45px;
    margin-top: 0px;
}

.leftboard button {
    margin-top: 25px;
    background: none;
    font-family: lato-light!important;
    color: #ffffff;
    font-size: 25px;

    font-weight: lighter;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    padding: 15px;
}

.leftboard button:hover {
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .leftboard {
        padding: 15px;
        background-color: #000000;
        min-height: 100%;
        width: 100%;
    }
    .leftboard>h1 {
        font-family: copper;
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        margin-top: 3%;
    }
    .leftboard>h2 {
        font-family: copper;
        color: #ffffff;
        font-size: 25px;
        text-align: center;
        margin-top: 4%;
        line-height: 1.37;
        margin-bottom: 0px;
    }
    .leftboard>h3 {
        font-family: "Copperplate Gothic Light";
        color: #ffffff;
        font-size: 16px;
        font-weight: lighter;
        text-align: center;
        word-spacing: 5px;
        line-height: 23px;
        margin-top: 0px;
    }
    .leftboard>p {
        font-family: raleway-thin;
        color: #ffffff;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        padding-bottom: 10px;
        margin-top: 2%;
    }
    .leftboard button {
        margin-top: 10px;
        background: none;
        font-family: lato-light;
        color: #ffffff;
        font-size: 20px;
        line-height: 32px;
        font-weight: lighter;
    }
        .leftboard>img{
        width:200px;
    }
}

.asterix {
    font-weight: 900;
    font-size: 18px;
    color: #7A232E;
    float: left;
}


/*====================== ========================*/
.navbar-nav>li>a{
    color:#fff!important;
    font-family: raleway-thin!important;
    border-right: 1px solid #fff;
    padding:0px 45px!important;
    font-size: 14px!important;
    transition: 0.5s;}

.navbar-nav>li>a:hover{
    color: #3899c1!important;
    transition: 0.5s;}

    @media screen and (max-width: 1995px){
    .navbar-nav>li>a{
    padding:0px 20px!important;
    transition: 0.5s;}
}

@media screen and (max-width: 1470px){
    .navbar-nav>li>a{
    padding:0px 10px!important;
    transition: 0.5s;}
}

.logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.slick-prev{
    background-image: url('../images/arrow-left.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    left: 10px!important;
    width: 50px!important;
    height: 50px!important;
    z-index: 999;
}
.slick-next{
    background-image: url('../images/arrow-right.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    right: 10px!important;
    width: 50px!important;
    height: 50px!important;
    z-index: 999;
}

.slick-prev:before{
    background-image: url('../images/arrow-left.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    content: ''!important;
    width: 50px!important;
    height: 50px!important;
}
.slick-next:before{
    background-image: url('../images/arrow-right.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    content: ''!important;
    width: 50px!important;
    height: 50px!important;
}

.view-fp{
    border: 1px solid #fff;
    padding:3px;
    margin-left: 5px;
    transition: all 0.7s;
    z-index: 9999;
    color: #fff;
    display: inline-block;
    font-family: copper;
    font-size: 16px;
    cursor: pointer;
}


.view-fp:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: all 0.7s;
}


.leftboard .form-control {
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 320px;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 20px;
}

.leftboard .btn {
    border-radius: 5px;
    font-family: lato;
    margin: 10px;

    background-color: #3899c1;
    color: #ffffff;
    padding:10px;
    text-align: center;
    font-size: 20px;
}

.leftboard .btn:hover {
    background-color: #27AAC1;
}

.input {
    padding-left: 10px;
    text-align: center;
}

.input-width {
    width: 330px;
}

input::-webkit-input-placeholder {
    color: #27AAE1 !important;
    font-family: lato;
    font-size: 12px;
}

.leftboard form {
    text-align: center;
}

.corner-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    float: right;
}

#mobile {
    display: none;
}

.right-board{
    width:62%;
    right:0;
    padding: 2%;
    top: 8%;
    float:right;
    position: absolute;
}

@media screen and (max-width:768px) {
    #mobile {
        display: block;
    }

    .right-board{
    width:100%;
     position: relative;
                }

    .info {
    width: 100%!important;}

}

.info{
    background-color: #000;
    width: 95%;
    height: auto;
    margin:auto;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
}

.detail h1{
    color: #fff;
    display: inline-block;
    font-family: copper;
    font-size: 20px;
    padding-bottom: 10px;
}

.detail h2{
    color: #fff;
    display: inline-block;
    font-family: copper;
    font-size: 16px;
}



/********** IPHONE 5 ************/
@media screen and (width:320px){
    #logo{
        width: 200px;
    }

    .leftboard{
        height: auto!important;
    }

    .regOpen{
        position: relative;
        left: 50px;
    }

     #reg .leftboard{
        height: auto!important;
    }

    .leftboard .form-control {
    width: 237px;
    height: 50px;
    }

}


/********** IPHONE 6 ************/
@media screen and (width:375px){
    #logo{
        width: 200px;
    }

    .leftboard{
        height: auto!important;
    }

    .regOpen{
        position: relative;
        left: 73px;
    }
     #reg .leftboard{
        height: auto!important;
    }

      .leftboard .form-control {
    width: 283px;
    height: 50px;
    }

}

/********** IPHONE 6plus ************/
@media screen and (width:414px){
    #logo{
        width: 200px;
    }

    .leftboard{
        height: auto!important;
    }

    .regOpen{
        position: relative;
        left: 93px;
    }
      #reg .leftboard{
        height: auto!important;
    }
}
