.zoom{
	background-color: #000;
	position: absolute;
	height: 20vh;
	width: 70vw;
	opacity:0;
	transition: 0.8s;
}

.zoom:hover{
	background-color: #000;
	opacity:0.7;
	transition: 0.8s;
}


.slick-next {
    right: 4%;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: rgb(253, 251, 251);
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 55px;
    line-height: 1;
    opacity: .75;
    color: #131313;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

